# Netcli

{{.MainDesc}}

## Installation

```bash
curl https://github.com/arpanrec/netcli/releases/download/{{.Version}}/netcli-{{.Version}}-linux-amd64 -o ~/.local/bin/netcli
chmod +x ~/.local/bin/netcli
```

## [Usage]({{.DocsMdEp}})
