# Netcli

{{.MainDesc}}

## Installation

```bash
curl -L -o ~/.local/bin/netcli https://github.com/arpanrec/netcli/releases/download/{{.Version}}/netcli-{{.Version}}-linux-amd64
chmod +x ~/.local/bin/netcli
```

## [Usage]({{.DocsMdEp}})
