---
all:
    children:
        server_workspace:
            hosts:
                localhost:
    hosts:
        localhost:
            ansible_connection: local
            ansible_become: false
            ansible_python_interpreter: "{{.PythonPath}}"
